.app__navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    position: fixed;
    z-index: 2;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .fa-r,
    .fa-e {
        font-size: 3rem;
        color: var(--light-color);

        @media screen and (min-width: 2000px) {
            font-size: 4.5rem;
        }

        @media screen and (max-width: 430px) {
            font-size: 2rem;
        }
        
    }

    .fa-circle {
        padding: 0 1rem;
        font-size: 0.5rem;
        color: var(--light-color);

        @media screen and (min-width: 2000px) {
            font-size: .8rem;
        }

        @media screen and (max-width: 430px) {
            font-size: 0.4rem;
            padding: 0 0.5rem;
        }
        
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;

        flex-direction: column;

        div {
            width: 25px;
            height: 5px;
            background: transparent;
            border-radius: 30%;
            
            transition: all 0.4s ease-in-out;
            margin-bottom: 5px;
        }

        a {
            color: var(--light-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem;

            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--hover-gray);
                transform: translateY(-0.25rem);
            }
        }

        &:hover {
            div {
                background-color: var(--hover-gray);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondarybg-color);

    svg {
        width: 70%;
        height: 70%;
        color: var(--light-color);
        cursor: pointer;
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background: rgba(0, 0, 0, 0.95);
        backdrop-filter: blur(4px);

        svg {
            width: 35px;
            height: 35px;
            color: var(--light-color);
            margin: 0.5rem 1rem;
            cursor: pointer;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--light-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: gray;
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}